body {
  background-color: honeydew;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #87aaaa;
}

h3 {
  color: #1687A7;
}
